In [2]:
import pandas as pd

In [3]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'value': ['A0', 'A1', 'A2', 'A3']})

In [4]:
left

  key value
0  K0    A0
1  K1    A1
2  K2    A2
3  K3    A3

In [5]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K4', 'K5', 'K6'],
                     'value2': ['A0', 'A1', 'A4', 'A5', 'A6']})

In [6]:
right

  key value2
0  K0     A0
1  K1     A1
2  K4     A4
3  K5     A5
4  K6     A6

In [9]:
a = pd.merge(left, right, how='left')

In [18]:
a[a['value2'].isnull()]

  key value value2
2  K2    A2    NaN
3  K3    A3    NaN

In [11]:
a

  key value value2
0  K0    A0     A0
1  K1    A1     A1
2  K2    A2    NaN
3  K3    A3    NaN