In [1]:
class TwilightBus:
    """
    一个幽灵校车的例子
    """
    def __init__(self, passengers=[]):
        self.passengers = passengers
            
    def pick(self, name):
        self.passengers.append(name)
    
    def drop(self, name):
        self.passengers.remove(name)

In [2]:
bus1 = TwilightBus(['name1', 'name2'])

In [3]:
bus1.passengers

['name1', 'name2']

In [4]:
bus2 = TwilightBus()

In [5]:
bus2.passengers

[]

In [6]:
bus2.pick('name3')

In [7]:
bus2.passengers

['name3']

In [8]:
bus3 = TwilightBus()

In [9]:
bus3.passengers

['name3']

In [10]:
bus3.pick('name4')

In [11]:
bus2.passengers

['name3', 'name4']

In [12]:
names = ['name1', 'name2', 'name3', 'name4', 'name5']

In [13]:
names

['name1', 'name2', 'name3', 'name4', 'name5']

In [14]:
bus4 = TwilightBus(names)

In [15]:
bus4.passengers

['name1', 'name2', 'name3', 'name4', 'name5']

In [16]:
bus4.drop('name4')

In [17]:
bus4.passengers

['name1', 'name2', 'name3', 'name5']

In [18]:
names

['name1', 'name2', 'name3', 'name5']

In [21]:
class TwilightBus2:
    """
    一个幽灵校车的例子
    """
    def __init__(self, passengers=None):
        self.passengers = list(passengers) if passengers is not None else []
            
    def pick(self, name):
        self.passengers.append(name)
    
    def drop(self, name):
        self.passengers.remove(name)

In [22]:
names

['name1', 'name2', 'name3', 'name5']

In [23]:
bus5 = TwilightBus2(names)

In [24]:
bus5.passengers

['name1', 'name2', 'name3', 'name5']

In [25]:
bus5.drop('name5')

In [26]:
bus5.passengers

['name1', 'name2', 'name3']

In [27]:
names

['name1', 'name2', 'name3', 'name5']